stages:
  - test
  - package

test:
  stage: test
  resource_group: ci
  script:
    - export PATH=$PATH:$JAVA_HOME/bin:/opt/maven/apache-maven-3.8.1/bin
    - ./mvnw -pl -docs clean install -DskipTests
    - ./mvnw -pl -plugin/trino-pinot,-plugin/trino-phoenix,-plugin/trino-redshift,-testing/trino-test-jdbc-compatibility-old-server,-plugin/trino-redis,-plugin/trino-kudu,-plugin/trino-mongodb,-plugin/trino-oracle,-plugin/trino-phoenix5,-plugin/trino-postgresql,-plugin/trino-sqlserver,-plugin/trino-teradata-functions,-plugin/trino-accumulo,-plugin/trino-druid,-plugin/trino-atop,-plugin/trino-bigquery,-plugin/trino-cassandra,-plugin/trino-kafka,-testing/trino-testing-kafka,-plugin/trino-memsql,-plugin/trino-kinesis,-plugin/trino-geospatial,-plugin/trino-accumulo-iterators,-plugin/trino-prometheus,-plugin/trino-elasticsearch,-plugin/trino-google-sheets,-core/trino-server-rpm,-docs verify
  only:
    - merge_requests
    - branches

package:
  stage: package
  resource_group: ci
  script:
    - export PATH=$PATH:$JAVA_HOME/bin:/opt/maven/apache-maven-3.8.1/bin
    - ./mvnw -pl -docs clean package -DskipTests
    - mv ./core/trino-server/target/trino-server-*.tar.gz ./core/trino-server/target/trino-server.tar.gz
    - mv ./client/trino-cli/target/trino-cli-*-executable.jar ./client/trino-cli/target/trino-cli-executable.jar
  only:
    - tags
    - branches
  artifacts:
    paths:
      - ./core/trino-server/target/trino-server.tar.gz
      - ./client/trino-cli/target/trino-cli-executable.jar
    expire_in: 2 week
